body {
    background-color: #2C3E50;
    margin: auto;
    color: #D7DADB;
}

#header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #D7DADB;
    
   
}
#word {
    font-size: 3em;
    font-family: consolas;
    color: #D7DADB;
    margin: auto;
    text-align: center;
    width: 350px;
    height: 150px;
    background-color: #FC4349;
}
#textfield {
    padding-bottom: 30px;
    padding-top: 30px;
}
#textfield button {
    background-color: #FC4349;
    color:  #D7DADB;
}
#textfield button:hover {
    background-color: #FC4349;
    color:  black;
}


#mynavbar {
    background-color: #D7DADB;
}

footer {
    padding-top: 40px;
    text-align: center;
}
a {
    color: #D7DADB;
}
a:hover { 
    background-color: #FC4349;
    color: #D7DADB;
}
